<div class="form-modal">

    <form [formGroup]="proyectForm">
        <h2>Add Product</h2>
        <!-- Name -->
        <div class="form-input">
            <label>Name</label>
            <input type="text" formControlName="name">
            <div class="error-message">
                @if (
                    
                    proyectForm.controls['name'].invalid
                 
                    &&
                    (
                        proyectForm.controls['name'].touched
                        ||
                        proyectForm.controls['name'].dirty
                        ||
                        isFormSubmitted
                    ) 
                ) {
                    <small>
                        name is required*
                    </small>
                }
            </div>
        </div>

        <!-- Description -->
        <div class="form-input">
            <label>Description</label>
            <input type="text" formControlName="description">
            <div class="error-message">
                @if (
                    
                    proyectForm.controls['description'].invalid
                   
                    &&
                    (
                        proyectForm.controls['description'].touched
                        ||
                        proyectForm.controls['description'].dirty
                        ||
                        isFormSubmitted
                    ) 
                ) {
                    <small>
                        description is required*
                    </small>
                }
            </div>
        </div>
        <!-- Amount -->
        <div class="form-input">
            <label>Amount</label>
            <input type="number" formControlName="amount">
            <div class="error-message">
                @if (
                    proyectForm.controls['amount'].invalid
                  
                    &&
                    (
                        proyectForm.controls['amount'].touched
                        ||
                        proyectForm.controls['amount'].dirty
                        ||
                        isFormSubmitted
                    ) 
                ) {
                    <small>
                        amount is required*
                    </small>
                }
            </div>
        </div>
        <!-- brand -->
        <div class="form-input">
            <label>Brand</label>
            <input type="text" formControlName="brand">
            <div class="error-message">
                @if (
                    
                    proyectForm.controls['brand'].invalid
                   
                    &&
                    (
                        proyectForm.controls['brand'].touched
                        ||
                        proyectForm.controls['brand'].dirty
                        ||
                        isFormSubmitted
                    ) 
                ) {
                    <small>
                        brand is required*
                    </small>
                }
            </div>
        </div>
        <!-- Value -->
        <div class="form-input">
            <label>Value</label>
            <input type="text" formControlName="value">
            <div class="error-message">
                @if (
                    
                    proyectForm.controls['value'].invalid
                   
                    &&
                    (
                        proyectForm.controls['value'].touched
                        ||
                        proyectForm.controls['value'].dirty
                        ||
                        isFormSubmitted
                    ) 
                ) {
                    <small>
                        value is required*
                    </small>
                }
            </div>
        </div>
        <!-- Image -->
        <div class="form-input">
            <label>Image</label>
            <input type="url" formControlName="image">
            <div class="error-message">
                @if (
                    
                    proyectForm.controls['image'].invalid
                   
                    &&
                    (
                        proyectForm.controls['image'].touched
                        ||
                        proyectForm.controls['image'].dirty
                        ||
                        isFormSubmitted
                    ) 
                ) {
                    <small>
                        image is required*
                    </small>
                }
            </div>
        </div>
        <!-- Category -->
        <div class="form-input">
            <label>Category</label>
            @if( categories$ | async; as categoryObject){
                <select formControlName="category">
                    <option value=" " selected >-- Select category --</option>
                    @for( category of categoryObject; track category.id ){
                        <option [value]="category.id"> {{ category.name }} </option>
                    }
    
                </select>
            }@else if (errorMessage) {

                <p class="error-message">
                    No categories exist
                </p>
            }

            <div class="error-message">
                @if (
                    
                    proyectForm.controls['category'].invalid
                   
                    &&
                    (
                        proyectForm.controls['category'].touched
                        ||
                        proyectForm.controls['category'].dirty
                        ||
                        isFormSubmitted
                    ) 
                ) {
                    <small>
                        category is required*
                    </small>
                }
            </div>
        </div>


        <div class="buttons">

            <button  (click)="handleModal()" class="form-modal_botton form-modal_botton--cancel"> Cancel </button>
            
            <button  (click)="onSubmit()" type="submit" class="form-modal_botton">  Save  </button>

        </div>
       
    </form>

</div>