div.form-modal{
    
    position: relative;
    display:flex;
    justify-content: right;

    .form-modal__close{
        position: absolute;
    }
    
    form{
        // background-color: red;
        padding: 2rem;
        width: 20rem;
        h2{
            text-align: center;
        }
        div.form-input{
            display: flex;
            flex-direction: column;
            align-items: left;

        }

        div.buttons{
            display: flex;
            justify-content: center;
            gap: 1rem;
            button{
                width: 100%;
            }
        }
        
    }
}