<div class="form-modal" [class]=" isDarkTheme() ? 'dark-theme' : 'light-theme' ">

    <button class="form-modal__close" mat-dialog-close  mat-icon-button color="primary"> 
        <mat-icon>close</mat-icon>
    </button>

    <form [formGroup]="proyectForm" class="form-modal__form">
        <h2>Add Product</h2>
        <!-- Name -->
        <div class="form-input">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                @if (proyectForm.get('name')?.hasError('required')){
                    <mat-error>name is required*</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Description -->
        <div class="form-input">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" required>
                @if (proyectForm.get('description')?.hasError('required')){
                    <mat-error>description is required*</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Amount -->
        <div class="form-input">
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" required>
                @if (proyectForm.get('amount')?.hasError('required')){
                    <mat-error>amount is required*</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Brand -->
        <div class="form-input">
            <mat-form-field appearance="outline">
                <mat-label>Brand</mat-label>
                <input matInput formControlName="brand" required>
                @if (proyectForm.get('brand')?.hasError('required')){
                    <mat-error>brand is required*</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Value -->
        <div class="form-input">
            <mat-form-field appearance="outline">
                <mat-label>Value</mat-label>
                <input matInput formControlName="value" required>
                @if (proyectForm.get('value')?.hasError('required')){
                    <mat-error>value is required*</mat-error>
                }
            </mat-form-field>
        </div>

        <!-- Image -->
        <div class="form-input">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" required>
                @if (proyectForm.get('amount')?.hasError('required')){
                    <mat-error>amount is required*</mat-error>
                }
            </mat-form-field> -->
        </div>

        <!-- Category -->
        <div class="form-input">
            
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>

                <input type="text" matInput formControlName="category" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                  @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option">{{option.name}}</mat-option>
                  }
                </mat-autocomplete>

            </mat-form-field>
    
        </div>

        <div class="buttons">       
            <button  (click)="onSubmit()" type="submit" mat-flat-button  color="primary">  Save  </button>
        </div>
       
    </form>

</div>