<div class="login">


    <form [formGroup]="loginForm">

       

        <h1>Login</h1>
        <div class="inputs">
            <span>
                @if (errorUser){
                    <mat-error> {{ errorUser }}</mat-error>
                }
            </span>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                @if (loginForm.get('email')?.hasError('required')){
                    <mat-error>email is required*</mat-error>
                }
                @if (loginForm.get('email')?.hasError('email')){
                    <mat-error>email is not valid*</mat-error>
                }
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required [type]="hide() ? 'password' : 'text'" />
                <button color="primary" mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (loginForm.get('password')?.hasError('required')){
                    <mat-error>password is required*</mat-error>
                }
            </mat-form-field>
          

            <button [disabled]="loading" (click)="onSubmit()" mat-flat-button color="primary"> 
                @if (loading) {
                    <mat-spinner diameter="30"></mat-spinner>
                }@else {
                    Log In 
                }
            </button>
        </div>

    </form>

</div>