

<div class="content_products">

    <div class="content_products_button">
        <button (click)="handleModalEmit()" mat-flat-button color="primary"> Add Product </button>
    </div>

   
    
    <div class="title__products">
        <h1>Products</h1>
        <hr>
    </div>
    
    @if(loading || errorMsg){
        <div class="list_products">
        @for (item of items; track $index) {
                <app-skeleton-card></app-skeleton-card>
            }
        </div>
    }
    
    @if(productsList$ | async; as resultObject ){
        <div class="list_products">
            @for( product of resultObject.data; track product.name){
                <app-card [productItem]="product" (click)="showProduct(product)" />
            }
    
        </div>
    
        <div class="pagination-controls">
            <button (click)="prevPage()" [disabled]="!resultObject.prev">Prev</button>
            <p>{{ resultObject.prev === null ? '1' : resultObject.prev + 1 }}</p>
            <button (click)="nextPage()" [disabled]="!resultObject.next">Next</button>
        </div>
    
    
    
    }

</div>


