<footer class="footer_product">
    <div class="footer_container">
        <!-- Icono -->
        <mat-icon class="footer__icon">store</mat-icon>
        <p class="footer__copyright">© 2024 GenericShop. All rights reserved.</p>
        <!-- contact -->
        <div class="footer_product__contact">
            <div class="footer_product__contact__redes">
                <img src="../assets/facebook.png" alt="" srcset="">
                <img src="../assets/x.png" alt="" srcset="">
                <img src="../assets/instagram.png" alt="" srcset="">
            </div>
            <div class="footer_product__contact__info">
                <p>(57) 312333404</p>
                <p>{{ 'correo@correo.com' }}</p>
    
            </div>
        </div>
       
    </div>
</footer>