
main{
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
    
    h1{
        font-size: 4rem;
    }
    a{
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
    }
}
